      .box{
                margin: 30px auto;
                width: 1200px;
                height: 450px;
                border: 1px solid red;
                padding: 20px;
            }
            .smallbox{
                width: 300px;
                height: 300px;
                border: 1px solid #ccc;
                float: left;
                position: relative;
            }   
            .smallbox img{
                width: 300px;
                height: 300px;
            }
            .smallglass{
                position: absolute;
                background: orange;
                opacity: 0.5;
                left: 0;
                top: 0;
                visibility: hidden;
                cursor: move;
            }
            .bigbox{
                width: 400px;
                height:400px;
                border: 1px solid #ccc;
                float: left;
                overflow: hidden;
                visibility: hidden;
                position: relative;
            }
            .bigpic{
                position: absolute;
                width: 500px;
                height: 500px;
                z-index: 100;
            }
        
    #ulist {
        position: absolute;
        
        top: 340px;
        width: 402px;
        height: 56px;
        padding: 20px;
        overflow: hidden;
    }   
     #ulist   ul li {
        list-style: none;
        float: left;
        width: 56px;
        height: 56px;
        margin-right: 6px;
    }
.onborder{border:1px solid red};
   #ulist ul li img {
        width: 56px;
        height: 56px;
      opacity: 0.4;
    }
    .boxright{
        position: absolute;
        
        left: 600px;
        width: 680px;
        height: 400px;
    }
    .bottom-right h2{
        height: 32px;
        font-size: 20px;
        line-height: 32px;
    }
    .boxright p{
        height: 22px;
        margin-top: 5px;
        color: #777;
        font: normal 16px;
    }
    .summary-price {
    height: 85px;
   
    background:#fff6eb;
}
.pro-price {
    margin-top: 10px;
    float: left;
    height: 70px;
}
.pro-price span {
    display: inline-block;
    padding-left: 5px;
}
.pro-price em {
    font-size: 18px;
    color: #ff0000;
    font-style: normal;
}
.pro-price strong {
    color: #ff0000;
    font-size: 35px;
    font-weight: normal;
}
.pro-review {
    float: right;
    padding-right: 10px;
    text-align: center;
}
.pro-review p {
    line-height: 22px;
    color: #999;
}
.pro-review b {
    color: #e8380d;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
}
.pro-review a {
    color: #999;
}
.sku_box {
    width: 100%;
    float: left;
    
   
   
           
}

.sku_box h3{
line-height: 26px;
 border-bottom: 1px dotted #999;
padding: 0 10px;
color: #333;
  margin-bottom: 12px;
  cursor: pointer;
   }

 .sku_box dl{
    width: 100%;
    float: left;
    margin-bottom: 4px;
   
    line-height: 26px;
    }
    .sku_box dt{
        float: left;
    }
  .color {
    margin-bottom: 11px;
} 

.sku_box .new_bg {
    
    width: 46px;
    height: 18px;
    line-height: 18px;
    color: orange;
    text-align: center;
    padding-right: 3px;  
    margin: 3px 8px 0 0;
}
.color li {
    width: 33px;
    height: 33px;
    border: 1px solid #ccc;
    float: left;
    background: #fff;
    margin: 0 6px 6px 0;
    overflow: hidden;
}
.color li a {
   
    display: inline-block;
    text-decoration: none;
    text-align: center;

}
.color li a img{
    width: 33px;
    height: 33px;
    display: inline-block;
   
}
                                                                                                                                            
  .size { margin-bottom: 11px;}
  .size li {
    height: 26px;
  border: 1px solid #ccc;
    float: left;
    margin: 0 6px 6px 0;
    overflow: hidden;
    font-family: arial;
    
}
.size li a {
    height: 24px;
    float: left;
    width: 24px;
    text-align: center;
     line-height: 24px;
    display: inline-block;
  
   
}
.red {
    color: #ec1611;
}
.numb {
    height: 30px;
    line-height: 30px;
}

.numb dd p {
    width: 90px;
    border: 1px solid #ccc;
    float: left;height: 29px;
    margin-top: 5px;
    
    background: #fff;
}
.numb dd p i.decrease {
    background-position: -1px -210px;
}

.numb dd p i {
    margin-right:0;
    display: inline-block;
    width: 20px;
    height: 28px;
    float: left;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    font-size:18px;
    background: url() no-repeat 1px -179px;
}
.numb dd p input {
    float: left;
    border-width: 0 1px;
    font-family: arial;
    border-color: #ccc;
    border-style: solid;
    width: 38px;
    height: 18px;
    background: #fff;
    padding: 5px;
    text-align: center;
}
.numb dd span{
   display: inline-block;
   line-height: 28px;
   height: 28px;
   width: 50px;
   text-align: center;
}
.cart {
    float: left;
  padding-top: 25px ;
  padding-left: 40px;
}
.cart input {
    
    width: 160px;
    height: 55px;
    color: #fff;
    background: orangered;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ec1611;
}